.a-btn {
  border: 1px solid transparent;

  &-link-primary {
    color: var(--bs-primary);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--bs-primary);
    }
  }

  &-outline-secondary {
    color: var(--gray-20)
  }

  &-fb {
    color: var(--bs-white);
    background-color: var(--social-fb-secondary);

    &:hover,
    &:focus {
      color: var(--bs-white);
      background-color: var(--social-fb-secondary);
    }
  }

  &-dropdown {
    font-size: 26px;
    color: var(--gray-60);
  }
}