.a-carousel-indicators {

  li {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--bs-secondary);
    opacity: 1;

    p {
      position: absolute;
      top: -5px;
      right: 25px;
      color: var(--bs-white);
      text-align: right;
    }

    &.active {
      background-color: var(--bs-secondary);

      p {
        font-weight: 600;
      }
    }
  }
}