.a-dropdown-arrow {
  white-space: nowrap;

  @include media-breakpoint-down(lg) {

    &:after {
      content: "\f054";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: var(--gray-40);
      display: inline-block;
      margin-left: 3px;
      font-size: 12px;
    }

    &.show {

      &:after {
        content: "\f078";
        color: var(--bs-secondary);
      }
    }
  }
}