.a {

  &-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-link-dl {
    color: var(--link-dl);

    &:hover,
    &:active {
      color: var(--link-dl);
    }
  }

  &-nav-link {
    position: relative;
    color: var(--gray-10);

    &:hover {
      color: var(--gray-20);
    }

    @include media-breakpoint-up(lg) {

      &:hover {

        &:after {
          content: '';
          position: absolute;
          bottom: 4px;
          left: 7px;
          width: calc(100% - 15px);
          height: 2px;
          background-color: var(--bs-secondary);
        }
      }
    }
  }
}