h1,h2,h3,h4,h5,h6,p,a {
  font-family: var(--font-open-sans);
}
.a {

  &-title {
    color: var(--gray-10);
    font-size: 42px;
    font-weight: 400;
  }

  &-subtitle {
    color: var(--gray-10);
    font-size: 14px;
    font-weight: 300;
  }
}