<template>
  <div class="o-rating">
    <button v-for="star in rating" :key="star" class="btn btn-link">
      <i class="fas fa-star"></i>
    </button>
    <button v-for="empty in (5 - rating)" :key="empty" class="btn btn-link">
      <i class="far fa-star"></i>
    </button>
  </div>
</template>

<script>
export default {
  props: ["rating"],
}
</script>