<template>
  <div class="m-social-group">
    <a v-if="network.includes('facebook')"
       href="" class="m-social-button facebook"
    >
      <i class="a-icon a-icon-facebook fab fa-facebook-f"></i>
      <span> Share </span>
    </a>

    <a v-if="network.includes('tweeter')"
       href="" class="m-social-button tweeter">
      <i class="a-icon a-icon-tweeter fab fa-twitter"></i>
      <span> Tweet </span>
    </a>

    <a v-if="network.includes('linkedin')"
       href="" class="m-social-button linkedin">
      <i class="a-icon a-icon-linkedin fab fa-linkedin-in"></i>
      <span> Share </span>
    </a>

    <a v-if="network.includes('reddit')"
       href="" class="m-social-button reddit">
      <i class="a-icon a-icon-reddit fab fa-reddit-alien"></i>
      <span> Submit </span>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    network: {
      type: Array,
      required: true
    }
  }
}
</script>