<template>
  <main class="p-classes">
    <div class="container">
      <div class="row p-classes-title">
        <div class="col-xl-6 offset-xl-3">
          <h1 class="a-title"> Upcoming Live Classes </h1>
          <h6 class="a-subtitle"> Attend an Online Session </h6>
        </div>
        <div class="col-lg-6 offset-lg-3 offset-xl-0 col-xl-3 d-flex align-items-center">
          <SearchOptions/>
          <IvyInput
            label="Search.."
            icon="fas fa-search"
          />
        </div>
      </div>
      <div class="row">
        <div v-for="card in classes"
             :key="card.id"
             class="col-md-6 col-xl-4"
        >
          <CardClass :card_data="card" />
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center mt-5">
          <Pagination/>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import IvyInput from "@/components/form-elements/Input";
import CardClass from "@/components/cards/CardClass";
import SearchOptions from "@/components/search/SearchOptions";
import Pagination from "@/components/pagination/Pagination";
import db from '../../firebase/init'

export default {
  components: {
    IvyInput,
    SearchOptions,
    CardClass,
    Pagination
  },
  data() {
    return {
      classes: [],
    }
  },
  created() {
    db.collection('classes').get().then(querySnapshot => {
      querySnapshot.forEach(doc => {
        const data = {
          'id': doc.id,
          'title': doc.data().title,
          'presenter_name': doc.data().presenter_name,
          'presenter_title': doc.data().presenter_title,
          'presenter_photo': doc.data().presenter_photo,
          'about_presenter': doc.data().about_presenter,
          'date': doc.data().date,
          'time': doc.data().time,
          'description': doc.data().description,
        }
        this.classes.push(data)
      })
    })
    this.$store.commit('get_all_classes', this.classes)
  }
}
</script>