<template>
  <main class="p-class-details container">
    <div class="container">
      <div class="row">
        <div class="col">

          <h1 class="a-title"> {{ selected_class.title }} </h1>
          <div class="m-date">
            <i class="far fa-calendar-alt"></i>
            <time>
              {{ selected_class.date }} {{ selected_class.time }}
            </time>
          </div>

          <div class="class-description">
            <p v-for="(description,i) in selected_class.description" :key="i">
              {{ description }}
            </p>
            <SocialShareButtons
                :network="['facebook','tweeter','linkedin','reddit']"
                class="mt-3"
            />
          </div> <!-- / description -->

          <div class="presenter-details mt-4 mt-md-0">
            <h4> About Presenter: </h4>
            <p> {{ selected_class.about_presenter }} </p>
          </div> <!-- / main-details -->
        </div> <!-- / row -->

        <!-- Sidebar -->
        <aside class="col-md-4 sidebar mt-3 mt-md-0">
          <div class="presenter-card text-center">
            <div class="presenter-card-header">
              <h5 class="text-left"> {{ selected_class.presenter_name }} </h5>
              <p class="text-left"> {{ selected_class.presenter_title }} </p>
            </div>
            <img :src="require(`@/assets/images/classes/${selected_class.presenter_photo}`)"
                 :alt="selected_class.presenter_name">
            <div class="presenter-card-footer">
              <button class="btn btn-primary w-100"> Attend For Free</button>
              <p class="mt-3">
                <a href="" class="a-link-dl">Login</a> or <a href="" class="a-link-dl">Register</a>
              </p>
            </div>
          </div> <!-- / presenter-card -->
        </aside> <!-- / sidebar -->
      </div> <!-- / row -->

      <div class="row mt-5">
        <div class="col-12 text-center mb-3">
          <h3>Other recorded classes that you might like</h3>
        </div>

        <div class="col-md-4">
          <div class="class-details">
            <img class="img-fluid" src="../../assets/images/class-details/footbalfield.jpg" alt="Img">
            <div class="class-details-overlay">
              <a href=""> What is your search goal? </a>
              <h6> Presented by Pat Drew </h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="class-details">
            <img class="img-fluid" src="../../assets/images/class-details/coach.jpg" alt="Img">
            <div class="class-details-overlay">
              <a href=""> Troubleshooting Your Job Search </a>
              <h6> Presented by Caroline Ceniza-Levine </h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="class-details">
            <img class="img-fluid" src="../../assets/images/class-details/office.jpg" alt="Img">
            <div class="class-details-overlay">
              <a href=""> Salary Negotiation 2.0 </a>
              <h6> Presented by Sabrina Zook </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import SocialShareButtons from "@/components/social-network/SocialShareButtons";

export default {
  props: ['slug'],
  components: {
    SocialShareButtons
  },
  computed: {
    selected_class() {
      return this.$store.state.classes.find(selected_class => {
        return selected_class.id === this.slug;
      });
    },
  }
}
</script>