<template>
  <div v-show="$store.state.user.logged" class="o-toast-frame">
    <div id="login"
         class="toast o-toast"
         role="alert"
         aria-live="assertive"
         aria-atomic="true"
    >
      <div class="toast-header o-toast-header">
        <i class="far fa-grin-hearts"></i>
        <p> Ivy Exec</p>
        <p class="time">logged 2 days ago</p>
        <button type="button" class="btn btn-sm btn-link"
                data-dismiss="toast" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="toast-body o-toast-body">
        <p>
          Welcome back <b>{{ $store.state.user.email }}</b>
          <br>
          We have prepared a new dashboard for you.
        </p>
        <div class="d-flex justify-content-end mt-2">
          <router-link
              :to="{name: 'Jobs'}"
              data-dismiss="toast"
              aria-label="Close"
              class="btn btn-sm btn-secondary"
          >
            Check it out
          </router-link>
        </div>
      </div>
    </div>
  </div>

  <div v-if="$store.state.user.logged" class="o-toast-info">
    <div id="new-job" class="toast o-toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header o-toast-info-header">
        <i class="fas fa-info-circle"></i>
        <p> {{ lastNotification.header }}</p>
        <button type="button"
                data-dismiss="toast"
                aria-label="Close"
                class="btn btn-sm btn-link"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="toast-body o-toast-info-body">
        <h6><span>{{ lastNotification.companyName }}</span> has a new open job</h6>
        <p>We are looking for the <span>{{ lastNotification.jobTitle }}</span></p>
        <small class="text-muted d-flex align-items-center mt-3">
          {{
            lastNotification.time ? lastNotification.time.toDate().getDate() : ''
          }}/{{
            lastNotification.time ? lastNotification.time.toDate().getMonth() : ''
          }}/{{ lastNotification.time ? lastNotification.time.toDate().getFullYear() : '' }}
          {{
            lastNotification.time ? lastNotification.time.toDate().getHours() : ''
          }}:{{ lastNotification.time ? lastNotification.time.toDate().getMinutes() : '' }}
          <router-link
              data-dismiss="toast"
              aria-label="Close"
              class="btn btn-sm btn-primary ml-auto"
              :to="{name: 'Jobs'}">
            Show me
          </router-link>
        </small>
      </div>
    </div>
  </div>
</template>

<script>
import bootstrap from 'bootstrap/dist/js/bootstrap.min'
// import db from "@/firebase/init";
import {emitter} from "@/mitt/mitt";

export default {
  data() {
    return {
      notifications: [],
    }
  },
  computed: {
    lastNotification() {
      const lnTitle = this.notifications.slice(-1)[0]
      return lnTitle ? lnTitle : ''
    }
  },
  mounted() {
    // let options = {
    //   animation: true,
    //   autohide: false,
    //   delay: 10000
    // }

    emitter.on('show-login-toast', () => {
      let options = {
        animation: true,
        autohide: true,
        delay: 8000
      }
      let loginToast = document.getElementById('login')
      let toast = new bootstrap.Toast(loginToast, options)
      toast.show()
    })

    // db.collection("notifications")
    //     .onSnapshot(querySnapshot => {
    //       querySnapshot.docChanges().forEach(change => {
    //         console.log('change', change)
    //         if (change.type === "added") {
    //           const data = {
    //             'header': change.doc.data().header,
    //             'jobTitle': change.doc.data().jobTitle,
    //             'companyName': change.doc.data().companyName,
    //             'time': change.doc.data().time,
    //           }
    //           this.notifications.push(data)
    //           let myToastEl = document.getElementById("new-job")
    //           let toast = new bootstrap.Toast(myToastEl, options)
    //           toast.show()
    //         }
    //       })
    //     })
  },
}
</script>