.t-job-details {
  padding: 30px;
  box-shadow: inset 7px 0 8px 0 var(--gray-90);

  @include media-breakpoint-up(md) {
    padding: 30px 50px;
  }

  &-frame {
    width: 100%;
    box-shadow: -4px 0px 10px 10px var(--gray-90);
    background-color: var(--gray-100);
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }

    .sticky-applied-button {
      position: sticky;
      bottom: 0;
      width: 100%;
      padding: 20px;
      background-color: var(--gray-90);

      button {
        width: 100%;
      }
    }
  }

  .membership-info {
    padding: 20px 0;
    margin: 20px 0;
    border-top: 1px solid var(--gray-90);
    border-bottom: 1px solid var(--gray-90);

    span {
      font-weight: 600;
    }
  }

  &-overview {

    h6 {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &-header {

    h2 {
      font-weight: 600;
      font-size: 28px;
    }

    .a-icon-grey {
      color: var(--icon-dl);
    }
  }

  &-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}