<template>
  <div v-if="loading" class="loading">
    <span class="spinner-border text-danger" role="status"></span>
  </div>

  <div v-else>
    <CompanyHeader :rating="job.company_rating"/>
    <div class="t-job-details">
      <div class="t-job-details-header">
        <h2> {{ job.job_title }} </h2>
        <h6>
          <i class="a-icon-grey fas fa-building"></i>
          {{ job.company_name }}
        </h6>
        <h6>
          <i class="a-icon-grey fas fa-map-marker-alt"></i>
          {{ job.company_location }}
        </h6>
        <div class="o-job-actions">
          <button @click="apply_job(job.applied)"
                  class="btn btn-sm btn-secondary d-none d-lg-inline-block">
            {{ job.applied ? "Applied" : "Apply" }}
          </button>

          <button @click="save_job(job.saved)"
                  class="btn btn-sm btn-outline-primary a-btn-outline-secondary ml-lg-2 mr-2 save">
            {{ job.saved ? "Saved" : "Save" }}
          </button>

          <button class="btn btn-sm btn-outline-primary a-btn-outline-secondary mr-2 ml-xl-auto options">Report</button>
          <button class="btn btn-sm btn-outline-primary a-btn-outline-secondary mr-2 options">Not For Me</button>
          <button class="btn btn-sm btn-outline-primary a-btn-outline-secondary options">Share</button>
        </div>
      </div>
      <div class="membership-info">
        <p>Your Ivy Exec <span>All Access Membership</span> includes <span>unlimited</span> job applications!</p>
      </div>
      <div class="t-job-details-overview">

        <h6>Overview:</h6>

        <p> {{ job.description }} </p>

        <h6 class="mt-4">Essential Duties & Responsibilities</h6>
        <ul class="list-group list-group-flush o-list-group-bullets">
          <li class="list-group-item">
            Possess a deep understanding of agile scrum quality assurance and software testing concepts and practices.
          </li>
          <li class="list-group-item">
            Provide leadership and mentorship to QA engineers in order to ensure that high standards are set and to
            facilitate professional skill growth within the division.
          </li>
          <li class="list-group-item">
            Identify and handle cross-team and cross-project dependencies.
          </li>
          <li class="list-group-item">
            Ensure that all sprint work is working and high-quality before it is given to product management for
            sprint-acceptance.
          </li>
          <li class="list-group-item">Ensures that QA engineers and developers, both within the team and outside of the
            team, are communicating and working together effectively.
          </li>
        </ul>

        <h6 class="mt-4">Minimum Knowledge, Competencies & Qualifications</h6>
        <ul class="list-group list-group-flush o-list-group-bullets">
          <li class="list-group-item">
            7+ years Software QA experience
          </li>
          <li class="list-group-item">
            Bachelor’s degree in a technology field
          </li>
          <li class="list-group-item">
            Strong experience with Agile/SCRUM QA methodologies
          </li>
          <li class="list-group-item">
            Experience testing .NET and web-based applications
          </li>
          <li class="list-group-item">
            Demonstrated understanding of relational databases and SQL
          </li>
        </ul>

        <div class="t-job-details-footer">
          <RelatedJobs/>
          <SuggestedMentor/>
        </div>
      </div>
    </div>

    <div class="sticky-applied-button d-lg-none">
      <button @click="apply_job(job.applied)" :disabled="job.applied" class="btn btn-sm btn-secondary">
        {{ job.applied ? "Applied" : "Apply" }}
      </button>
    </div>
  </div>
</template>

<script>
import CompanyHeader from "@/components/jobs/CompanyHeader"
import RelatedJobs from "@/components/jobs/RelatedJobs"
import SuggestedMentor from "@/components/jobs/SuggestedMentor"
import db from "@/firebase/init"
import store from "@/store";
import {emitter} from "@/mitt/mitt";

export default {
  props: ["id", "title", "location"],
  components: {
    CompanyHeader,
    RelatedJobs,
    SuggestedMentor
  },
  data() {
    return {
      job: {},
      loading: true,
    }
  },
  methods: {
    apply_job(applied) {
      db.collection('jobs').doc(this.id).update({
        applied: !applied
      })
      this.$emit('refresh-data')
      this.getSingeJob()
    },
    save_job(saved) {
      db.collection('jobs').doc(this.id).update({
        saved: !saved
      })
      this.$emit('refresh-data')
      this.getSingeJob()
    },
    getSingeJob() {
      db.collection("jobs").doc(this.id).get().then(doc => {
        if (doc.exists) {
          this.job = doc.data()
        }
      }).catch(function(error) {
        console.log("Error getting document:", error);
      });
    }
  },
  mounted() {
    setTimeout(() => {
      this.loading = false
    }, 350)

    this.getSingeJob()
    store.commit('update_selected_job_id', this.id)
    emitter.on('save-job', ()=> {
      this.getSingeJob()
    })
  },

}
</script>

<style lang="scss" scoped>
.loading {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  span {
    height: 75px;
    width: 75px;
  }
}
</style>