<template>
  <div class="p-job-new">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h5>New job details</h5>
          <form @submit.prevent="addNewJob" novalidate class="needs-validation">
            <IvyInput
                v-model="jobTitle"
                label="Job title"
                type="text"
            />
            <IvyInput
                v-model="companyName"
                label="Company name"
                type="text"
            />
            <Autocomplete
                v-model="companyLocation"
                :options="$store.state.locations"
                label="Select a country"
            />
            <Textarea
                v-model="jobDescription"
                label="Job description"
            />
            <div class="o-signin-form-actions">
              <button
                  class="btn btn-primary"
                  type="submit"
              >
                Post
              </button>
            </div>
          </form>
        </div>
        <div class="col-lg-4 offset-lg-2 mt-5 mt-lg-0">
          <h5>Job preview</h5>
          <div class="o-job-single-content">
            <h5> {{ jobTitle || 'Job title'}} </h5>
            <div class="o-job-single-c-name mb-2">
              <i class="a-icon-grey fas fa-building"></i>
              <p> {{ companyName || 'Ivy Exec'}} </p>

            </div>
            <div class="o-job-single-c-location">
              <i class="a-icon-grey fas fa-map-marker-alt"></i>
              <p> {{ companyLocation || 'New York'}} </p>
            </div>

            <p class="mt-2">
              {{ filtered_text(jobDescription) || 'Dummy text'}}
            </p>

            <div class="o-job-single-footer mt-3">
              <button class="btn btn-sm btn-secondary" style="pointer-events: none">
                View Job
              </button>
              <button class="btn btn-sm mx-1 a-btn-outline-secondary" style="pointer-events: none">
                <i class="far fa-bookmark"></i>
                Save
              </button>
              <p class="ml-auto"> Posted: {{ currentDate() }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import forms_main from "@/assets/mixins/forms_main";
import Textarea from "@/components/form-elements/Textarea";
import db from "@/firebase/init";

export default {
  components: {Textarea},
  mixins: [forms_main],
  data() {
    return {
      jobTitle: "",
      companyName: "",
      companyLocation: "",
      jobDescription: "",
    }
  },
  methods: {
    filtered_text(text) {
      return text.split(" ").slice(0, 12).join(" ") + "...";
    },
    currentDate() {
      let today = new Date();
      return today.getFullYear()+'/'+(today.getMonth()+1)+'/'+today.getDate();
    },
    addNewJob() {
      db.collection('jobs').add({
        job_title: this.jobTitle,
        company_name: this.companyName,
        company_location: this.companyLocation,
        job_description: this.jobDescription,
        company_rating: Math.floor(Math.random() * 5) + 1,
        date: this.currentDate(),
        applied: false,
        saved: false
      })
    }
  }
}
</script>