<template>
  <main class="container-lg p-jobs-frame">
    <div class="p-jobs">
      <div class="o-sidebar-frame a-custom-sb">
        <SideBar />
      </div>
      <div class="t-job-details-frame">
        <router-view :key="$route.path" v-on:refresh-data="getJobs"/>
      </div>
    </div>
  </main>
</template>

<script>
import db from "../../firebase/init"
import store from "@/store"
import SideBar from "@/components/jobs/SideBar";
import {emitter} from "@/mitt/mitt";

export default {
  components: {
    SideBar,
  },
  data() {
    return {
      jobs: []
    }
  },
  methods: {
    getJobs() {
      this.jobs = []
      db.collection('jobs').orderBy("company_rating", "desc").limit(10).get().then(querySnapshot => {
        querySnapshot.forEach(doc => {
          const data = {
            'id': doc.id,
            'title': doc.data().job_title,
            'company_name': doc.data().company_name,
            'company_location': doc.data().company_location,
            'company_rating': doc.data().company_rating,
            'description': doc.data().job_description,
            'date': doc.data().date,
            'saved': doc.data().saved,
            'applied': doc.data().applied
          }
          this.jobs.push(data)
        })

        // update store
        store.commit('get_all_jobs', this.jobs)

        // go to most recent job
        if(!store.state.selectedJobID) {
          let firstJob = this.jobs[0]
          this.$router.push(`/jobs/${firstJob.title}/${firstJob.company_location}/${firstJob.id}`)
        }
      })
    },
  },
  created() {
    store.state.selectedJobID = ""
    this.getJobs()
    emitter.on('save-job', ()=> {
      this.getJobs()
    })
  },
}
</script>