$primary: #392f1c;
$secondary: #f7323f;
$enable-rounded: false;
$enable-negative-margins: true;
$grid-columns: 12 !default;

$paragraph-margin-bottom: 0 !default;
$btn-padding-x: 1.1rem;
$btn-padding-x-sm: 1.1rem;
$btn-padding-x-lg: 1.5rem;

$ivy-btn-radius: 50px;

$btn-border-radius: $ivy-btn-radius !default;
$btn-border-radius-sm: $ivy-btn-radius !default;
$btn-border-radius-lg: $ivy-btn-radius !default;

$form-validation-states: (
        "valid": (
                "color": $primary,
                "icon": none
        ),
        "invalid": (
                "color": $secondary,
                "icon": none
        )
);

.valid-feedback,
.invalid-feedback {
  margin: 0 !important;
}