//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-BoldExtObl.eot');
//  src: url('~@/assets/fonts/Univers/Univers-BoldExtObl.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-BoldExtObl.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-BoldExtObl.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-BoldExtObl.ttf') format('truetype');
//  font-weight: bold;
//  font-style: italic;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-ThinUltraCondensed.eot');
//  src: url('~@/assets/fonts/Univers/Univers-ThinUltraCondensed.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-ThinUltraCondensed.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-ThinUltraCondensed.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-ThinUltraCondensed.ttf') format('truetype');
//  font-weight: 100;
//  font-style: normal;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-ExtraBlackExt.eot');
//  src: url('~@/assets/fonts/Univers/Univers-ExtraBlackExt.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-ExtraBlackExt.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-ExtraBlackExt.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-ExtraBlackExt.ttf') format('truetype');
//  font-weight: 900;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-LightUltraCondensed.eot');
//  src: url('~@/assets/fonts/Univers/Univers-LightUltraCondensed.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-LightUltraCondensed.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-LightUltraCondensed.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-LightUltraCondensed.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-CondensedOblique.eot');
//  src: url('~@/assets/fonts/Univers/Univers-CondensedOblique.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-CondensedOblique.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-CondensedOblique.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-CondensedOblique.ttf') format('truetype');
//  font-weight: normal;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-CondensedBoldOblique.eot');
//  src: url('~@/assets/fonts/Univers/Univers-CondensedBoldOblique.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-CondensedBoldOblique.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-CondensedBoldOblique.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-CondensedBoldOblique.ttf') format('truetype');
//  font-weight: bold;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-BoldOblique.eot');
//  src: url('~@/assets/fonts/Univers/Univers-BoldOblique.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-BoldOblique.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-BoldOblique.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-BoldOblique.ttf') format('truetype');
//  font-weight: bold;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-ExtraBlackExtObl.eot');
//  src: url('~@/assets/fonts/Univers/Univers-ExtraBlackExtObl.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-ExtraBlackExtObl.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-ExtraBlackExtObl.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-ExtraBlackExtObl.ttf') format('truetype');
//  font-weight: 900;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-BlackExt.eot');
//  src: url('~@/assets/fonts/Univers/Univers-BlackExt.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-BlackExt.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-BlackExt.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-BlackExt.ttf') format('truetype');
//  font-weight: 900;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-Black.eot');
//  src: url('~@/assets/fonts/Univers/Univers-Black.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-Black.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-Black.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-Black.ttf') format('truetype');
//  font-weight: 900;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-Condensed.eot');
//  src: url('~@/assets/fonts/Univers/Univers-Condensed.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-Condensed.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-Condensed.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-Condensed.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}

//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-Extended.eot');
//  src: url('~@/assets/fonts/Univers/Univers-Extended.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-Extended.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-Extended.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-Extended.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-BlackExtObl.eot');
//  src: url('~@/assets/fonts/Univers/Univers-BlackExtObl.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-BlackExtObl.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-BlackExtObl.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-BlackExtObl.ttf') format('truetype');
//  font-weight: 900;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-LightOblique.eot');
//  src: url('~@/assets/fonts/Univers/Univers-LightOblique.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-LightOblique.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-LightOblique.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-LightOblique.ttf') format('truetype');
//  font-weight: 300;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-Bold.eot');
//  src: url('~@/assets/fonts/Univers/Univers-Bold.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-Bold.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-Bold.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-Bold.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-ExtendedObl.eot');
//  src: url('~@/assets/fonts/Univers/Univers-ExtendedObl.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-ExtendedObl.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-ExtendedObl.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-ExtendedObl.ttf') format('truetype');
//  font-weight: normal;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-CondensedLight.eot');
//  src: url('~@/assets/fonts/Univers/Univers-CondensedLight.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-CondensedLight.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-CondensedLight.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-CondensedLight.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-CondensedLightOblique.eot');
//  src: url('~@/assets/fonts/Univers/Univers-CondensedLightOblique.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-CondensedLightOblique.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-CondensedLightOblique.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-CondensedLightOblique.ttf') format('truetype');
//  font-weight: 300;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-BoldExt.eot');
//  src: url('~@/assets/fonts/Univers/Univers-BoldExt.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-BoldExt.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-BoldExt.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-BoldExt.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-ExtraBlackObl.eot');
//  src: url('~@/assets/fonts/Univers/Univers-ExtraBlackObl.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-ExtraBlackObl.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-ExtraBlackObl.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-ExtraBlackObl.ttf') format('truetype');
//  font-weight: 900;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-UltraCondensed.eot');
//  src: url('~@/assets/fonts/Univers/Univers-UltraCondensed.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-UltraCondensed.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-UltraCondensed.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-UltraCondensed.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-BlackOblique.eot');
//  src: url('~@/assets/fonts/Univers/Univers-BlackOblique.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-BlackOblique.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-BlackOblique.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-BlackOblique.ttf') format('truetype');
//  font-weight: 900;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers.eot');
//  src: url('~@/assets/fonts/Univers/Univers.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-CondensedBold.eot');
//  src: url('~@/assets/fonts/Univers/Univers-CondensedBold.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-CondensedBold.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-CondensedBold.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-CondensedBold.ttf') format('truetype');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-Oblique.eot');
//  src: url('~@/assets/fonts/Univers/Univers-Oblique.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-Oblique.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-Oblique.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-Oblique.ttf') format('truetype');
//  font-weight: normal;
//  font-style: italic;
//  font-display: swap;
//}
//
@font-face {
  font-family: 'Univers';
  src: url('~@/assets/fonts/Univers/Univers-Light.eot');
  src: url('~@/assets/fonts/Univers/Univers-Light.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Univers/Univers-Light.woff2') format('woff2'),
  url('~@/assets/fonts/Univers/Univers-Light.woff') format('woff'),
  url('~@/assets/fonts/Univers/Univers-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
//
//@font-face {
//  font-family: 'Univers';
//  src: url('~@/assets/fonts/Univers/Univers-ExtraBlack.eot');
//  src: url('~@/assets/fonts/Univers/Univers-ExtraBlack.eot?#iefix') format('embedded-opentype'),
//  url('~@/assets/fonts/Univers/Univers-ExtraBlack.woff2') format('woff2'),
//  url('~@/assets/fonts/Univers/Univers-ExtraBlack.woff') format('woff'),
//  url('~@/assets/fonts/Univers/Univers-ExtraBlack.ttf') format('truetype');
//  font-weight: 900;
//  font-style: normal;
//  font-display: swap;
//}
