:root {
  // 50 SHADES OF GRAY :)
  $minNumber: 1;
  $maxNumber: 20;
  $middleValue: floor(100 / $maxNumber); // number for middle color value

  @for $i from $minNumber through $maxNumber {
    $gray-colors: (
            $i * $middleValue: lighten($black, $i * $middleValue)
    );

    // Custom variable values only support SassScript inside `#{}`.
    @each $color, $value in $gray-colors {
      --gray-#{$color}: #{$value};
    }
  }

  //general font family variable
  --font-open-sans: 'Univers', sans-serif;

  //dark/light
  --link-dl: var(--bg-primary);
  --bg-dl: var(--bs-white);
  --footer-dl: #ececec;
  --modal-dl: var(--bs-white);
  --list-bullet: var(--bs-primary);
  --icon-dl: var(--gray-75);
  --bg-toast: var(--bs-white);

  //social icon css variables
  --social-fb-primary: #2B6DD6;
  --social-fb-secondary: #3B5998;
  --social-tw-primary: #48AAEC;
  --social-tw-secondary: #39A7E9;
  --social-ln-primary: #287AB4;
  --social-ln-secondary: #287AB4;
  --social-rd-primary: #E46B4A;
  --social-rd-secondary: #a8a8a8;

  .dark-mode {

    // 50 SHADES OF GRAY :)
    $minNumber: 1;
    $maxNumber: 20;
    $middleValue: floor(100 / $maxNumber); // number for middle color value

    @for $i from $minNumber through $maxNumber {
      $gray-colors: (
              $i * $middleValue: darken($white, $i * $middleValue)
      );

      // Custom variable values only support SassScript inside `#{}`.
      @each $color, $value in $gray-colors {
        --gray-#{$color}: #{$value};
      }
    }

    //dark/light
    --link-dl: var(--bs-secondary);
    --bg-dl: #2a2a2a;
    --footer-dl: #1e1e1e;
    --modal-dl: #1e1e1e;
    --list-bullet: var(--bs-secondary);
    --icon-dl: var(--bs-secondary);
    --bg-toast: #2a2a2a;
  }
}

