.o-dropdown-search {
  border: none;
  padding: 25px 30px;
  width: 100%;
  max-width: 350px;
  background-color: var(--bg-dl);
  color: var(--gray-20);

  &:before {
    content: none;
  }

  @include media-breakpoint-up(lg) {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}