.o-dropdown-profile {
  border: none;
  padding: 25px 30px 15px 30px;
  min-width: 300px;
  background-color: var(--bg-dl);

  &:before {
    content: none;
  }

  @include media-breakpoint-up(lg) {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  .a-user-img {
    margin-right: 10px;
  }
  .dropdown-item {
    color: var(--gray-40);

    &:active {
      background-color: var(--gray-90);
    }
  }

  &-item {
    color: var(--gray-20);
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
  }

  &.show {
    display: flex;
    align-items: flex-start;
  }
}