.m-input-group {
  margin-bottom: 10px;
  text-align: left;
  &-icon {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 10px;
    z-index: 10;
    opacity: .8;
    color: var(--bs-primary);
    &:hover {
      opacity: 1;
    }
  }
}