.m-social-button {
  display: flex;
  align-items: center;
  width: fit-content;
  transition: .1s ease-in;
  color: var(--bs-white);
  text-decoration: none;
  @include media-breakpoint-up(sm) {
    margin-right: 3px;
    margin-bottom: 3px;
  }
  &.facebook {background-color: var(--social-fb-secondary)}
  &.tweeter {background-color: var(--social-tw-secondary)}
  &.linkedin {background-color: var(--social-ln-secondary)}
  &.reddit {background-color: var(--social-rd-secondary)}
  i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    width: 32px;
    height: 32px;
    &.fa-facebook-f {background-color: var(--social-fb-primary)}
    &.fa-twitter {background-color: var(--social-tw-primary)}
    &.fa-linkedin-in {background-color: var(--social-ln-primary)}
    &.fa-reddit-alien {background-color: var(--social-rd-primary)}
  }
  span {
    padding: 0 13px 0 7px;
    font-size: 14px;
    display: none;
    @include media-breakpoint-up(sm) {
      display: inline-block;
    }
  }
  &:hover {
    opacity: 0.9;
    color: #fff;
  }
}