<template>
  <main class="p-signin">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="a-title text-center">Sign in Using a Social Network</h1>
        </div>
        <div class="col-12 text-center">
          <button class="btn a-btn-fb">
            <i class="fab fa-facebook-square"></i>
            | Login with Facebook
          </button>
          <p class="my-3 line-through">or enter your login info</p>
        </div>
        <div class="col-lg-4 offset-lg-4">

          <SignInForm/>

        </div>
        <div class="col-12 text-center mb-5">
          <p class="small">Are you new to Ivy Exec?
            <router-link :to="{name: 'Register'}" class="text-decoration-underline a-link-dl">Join our network</router-link>
            and see what all the buzz is about.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mb-5 ">
          <Modal/>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import SignInForm from "@/components/forms/SignInForm";
import Modal from "@/components/modal/Modal"

export default {
  components: {
    SignInForm,
    Modal,
  }
}
</script>
