<template>
  <div :id="data.name" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <div v-for="(slide,i) in data.slides" :key="i"
         :class="{'active' : i === 0}"
         class="carousel-item"
      >
        <img :src="require(`@/assets/images/${data.source}/${slide.image}`)"
           class="img-fluid w-100" :alt="slide.image"
        />

        <div class="carousel-caption m-carousel-caption">
          <h1> {{slide.caption}} </h1>
          <p> {{slide.description}} </p>
          <router-link v-if="slide.button" :to="slide.button.url" class="btn btn-secondary btn-lg">
            {{ slide.button.text }}
          </router-link>
        </div>
      </div> <!-- /carousel-item -->
    </div> <!-- /carousel-inner -->


    <!-- Slider left & right arrows -->
    <div v-if="arrows">
      <a class="carousel-control-prev" :href="`#${data.name}`" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </a>
      <a class="carousel-control-next" :href="`#${data.name}`" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </a>
    </div>

    <!-- Slider bottom indicators -->
    <ol v-if="indicators" class="carousel-indicators a-carousel-indicators">
      <li v-for="(slide, i) in data.slides" :key="i"
          :data-slide-to="i"
          :class="{'active' : i === 0}"
          :data-target="`#${data.name}`"
      >
        <p class="d-none d-lg-block">{{slide.indicator_text}}</p>
      </li>
    </ol>
  </div>
</template>

<script>
export default  {
  props: {
    arrows: {
      type: Boolean,
      default: false
    },
    indicators: {
      type: Boolean,
      default: false,
    },
    data: {
      type: Object,
      required: true
    }
  },
}
</script>