<template>
  <div class="o-card">
    <div class="o-card-header">
      <h4> {{ card_data.title }} </h4>
      <p> {{ card_data.presenter_name }}
        <span> {{ card_data.presenter_title }} </span>
      </p>
      <div class="o-card-actions">
        <button
            @click="seeDetails(card_data.id)"
            class="btn btn-sm btn-primary a-btn"
        >
          Sign Up
        </button>
        <p>
          <i class="far fa-calendar-alt"></i>
          {{ card_data.date }} <br> {{ card_data.time }}
        </p>
      </div>
    </div>

    <img class="img-fluid" :src="require(`@/assets/images/classes/${card_data.presenter_photo}`)" alt="pic">
    <div class="o-card-footer">
      <p class="o-card-description d-none d-md-block">
        {{ filtered_description(card_data.description) }}
      </p>
      <SocialShareButtons
          :network="['facebook','tweeter','linkedin']"
      />
    </div>

  </div>
</template>

<script>
import SocialShareButtons from "@/components/social-network/SocialShareButtons";

export default {
  components: {
    SocialShareButtons
  },
  props: {
    card_data: {
      type: Object,
      required: true
    },
  },
  methods: {
    filtered_description(desc) {
      return desc[0].split(" ").slice(0, 25).join(" ") + "...";
    },
    seeDetails(id) {
      this.$router.push('/classes/details/' + id)
    },
  }
}
</script>