<template>
  <div class="o-job-company-header">

    <div class="name-rating">
      <h3>Ivy exec</h3>
      <Rating :rating="rating"/>
    </div>

    <div class="links">
      <a href="" class="a-link">Company profile</a>
      <a href="" class="a-link">
        Employee Reviews
        <span class="badge bg-secondary">0</span>
      </a>
      <a href="" class="a-link">
        Jobs
        <span class="badge bg-secondary">3</span>
      </a>
      <a href="" class="a-link">Leave a Review</a>
    </div>

  </div>
</template>

<script>
import Rating from "@/components/rating/Rating";

export default {
  props: ["rating"],
  components: {
    Rating,
  },
}
</script>