<template>
  <div class="o-job-single" :class="{'active' : job.id === $store.state.selectedJobID}">
    <div class="o-job-single-content">
      <h5> {{job.title}} </h5>
      <div class="o-job-single-c-name">
        <i class="a-icon-grey fas fa-building"></i>
        <p> {{job.company_name}} </p>
        <div class="rating ml-3">
          <i v-for="star in job.company_rating" :key="star" class="fas fa-star active"></i>
          <i v-for="empty in (5 - job.company_rating)" :key="empty" class="fas fa-star"></i>
        </div>

      </div>
      <div class="o-job-single-c-location">
        <i class="a-icon-grey fas fa-map-marker-alt"></i>
        <p> {{job.company_location}} </p>
      </div>

      <p class="mt-2">
        {{ filtered_text(job.description) }}
      </p>

      <div class="o-job-single-footer mt-3">
        <router-link
          :to="{
            name: 'JobDetails',
            params: { id: job.id,  title: job.title, location: job.company_location }}"
          class="btn btn-sm btn-secondary">
          View Job
        </router-link>
        <button @click="save_job(job)" class="btn btn-sm mx-1 a-btn-outline-secondary">
          <i :class="job.saved ? 'fas' : 'far'" class="fa-bookmark"></i>
          {{ job.saved ? 'Saved' : 'Save' }}
        </button>

        <p class="ml-auto"> Posted: {{job.date}} </p>
      </div>

    </div>
  </div>
</template>

<script>
import db from "../../firebase/init"
import {emitter} from "@/mitt/mitt";

export default {
  props: ['job'],
  data() {
    return {
      currentURL: this.job.id
    }
  },
  methods: {
    filtered_text(text) {
      return text.split(" ").slice(0, 12).join(" ") + "...";
    },
    save_job(job) {
      db.collection('jobs').doc(job.id).update({
        saved: !job.saved
      })
      emitter.emit('save-job')
    },
  },
}
</script>