<template>
  <div class="position-sticky">
    <Accordion button="Refine Results">
      <template v-slot:added_header>
        <button class="btn btn-sm btn-outline-primary a-btn-outline-secondary"> Save Search </button>
      </template>

      <template v-slot:content>
        <JobSideSearchForm/>
      </template>
    </Accordion>
  </div>

  <div v-for="job in jobs" :key="job.id">
    <JobSingle :job="job" />
  </div>

  <div class="d-flex justify-content-center mt-3">
    <Pagination/>
  </div>
</template>

<script>
import store from "@/store"
import JobSingle from "@/components/jobs/JobSingle"
import Pagination from "@/components/pagination/Pagination";
import Accordion from "@/components/accordion/Accordion";
import JobSideSearchForm from "@/components/forms/JobSideSearchForm";

export default {
  components: {
    Accordion,
    JobSingle,
    Pagination,
    JobSideSearchForm
  },
  computed: {
    jobs() {
      return store.state.jobs
    }
  },
}
</script>