<template>
  <div class="mb-3">
    <h4>Suggested Mentors</h4>
    <div class="o-suggested-mentors">
      <img class="a-user-img shadow" src="@/assets/images/navigation/user.jpg" alt="user"/>
      <div>
        <h5>Fop De pater</h5>
        <p>Senior Project Manager |Rabobank Netherlands</p>
      </div>
    </div>
    <div class="o-suggested-mentors">
      <img class="a-user-img shadow" src="@/assets/images/navigation/user.jpg" alt="user"/>
      <div>
        <h5>Fop De pater</h5>
        <p>Senior Project Manager |Rabobank Netherlands</p>
      </div>
    </div>
    <div class="o-suggested-mentors">
      <img class="a-user-img shadow" src="@/assets/images/navigation/user.jpg" alt="user"/>
      <div>
        <h5>Fop De pater</h5>
        <p>Senior Project Manager |Rabobank Netherlands</p>
      </div>
    </div>
  </div>
</template>