<template>
  <div class="p-register">
    <section class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="a-title text-center">Get 1 on 1 Career Support and Access to 56,844 Hand Picked Jobs</h1>
        </div>

        <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
          <div class="p-register-form">
            <RegisterForm />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import RegisterForm from "@/components/forms/RegisterForm";

export default {
  components: {
    RegisterForm
  },
}
</script>