<template>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signin">
    Sign In
  </button>

  <div class="modal fade" id="signin" tabindex="-1" aria-labelledby="signin" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header o-modal-header">
          <h5 class="modal-title o-modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="btn btn-link a-link-dl" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body o-modal-body">
          <h6 class="mb-3">Enter your login info</h6>

          <SignInForm/>

        </div>
        <div class="modal-footer o-modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Login</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SignInForm from "@/components/forms/SignInForm";

export default {
  components: {
    SignInForm,
  }
}
</script>