.p-class-details {
  padding: 50px 0;
  .a-title {
    font-size: 28px;
  }

  .class-description {
    .m-social-group {
      position: fixed;
      bottom: 50px;
      left: 0;
      z-index: 10;
      a {
        margin-right: 0;
        text-decoration: none;
      }
      @include media-breakpoint-up(sm) {
        position: static;
        display: flex;
        margin-bottom: 35px;
        a {margin-right: 3px;}
      }
    }
  }

  .presenter-card {
    background: var(--gray-90);

    &-header {
      padding: 20px 30px;

      p {
        color: var(--gray-50);
      }
    }
    &-footer {
      padding: 10px 30px 40px 30px;
      text-align: left;

      p {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--gray-50);
      }
    }
    img {
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .class-details {
    position: relative;
    margin: 5px 0;
    width: 100%;

    img {
      width: 100%;
    }

    &-overlay {
      position: absolute;
      top: 20px;
      left: 20px;
      a {
        color: var(--bs-white);
        font-size: 22px;
        &:hover {
          text-decoration: underline
        }
      }
      h6 {
        font-size: 14px;
        font-style: italic;
        color: var(--gray-60);
      }
    }
  }
}
