.p-classes {
  background: var(--gray-95);
  padding-bottom: 30px;

  &-title {
    text-align: center;
    margin: 30px 0;

    .m-input-group {
      margin-bottom: 0;
    }
  }
  .m-social-group {
    display: flex;
    flex-wrap: wrap;
  }
}