.p-employers {
  color: var(--gray-10);
}
.employers-hero {
  position: relative;
  text-align: center;
  min-height: 800px;
  background-image: url("../../assets/images/employers/employers-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .employers-hero-items {
    padding: 30px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: var(--bs-white);

    .a-title {
      font-size: 28px;
      margin-bottom: 50px;
      color: var(--bs-white);
      @include media-breakpoint-up(md) {
        font-size: 32px;
      }
    }
    .employers-hero-item {
      margin: 10px 0;
      img {
        width: 80px;
        height: auto;
        @include media-breakpoint-up(md) {
          width: auto;
          height: 120px;
        }
      }
      span {
        display: none;
        @include media-breakpoint-up(lg) {
          display: inline-block;
        }
      }
    }
  }
}

.who-we-serve {
  background-color: var(--bg-dl);
  padding: 60px 30px;
  .menagement-education {
    border-right: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    .menagement-education-img {
      width: 100%;
      height: 100%;
      background-image: url("../../assets/images/employers/management-education-1.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    ul {
      list-style: none;
      li {
        margin: 10px 5px;
        a {
          color: var(--gray-10);
        }
      }
    }
  }
}

.enrollment-marketing {
  padding: 60px 30px;
  .enrollment-funnel {
    margin: 7px 0;
  }
}

.market-research {
  padding: 60px 30px;

  img {
    max-width: 300px;
  }
}

.contact-us {
  background-color: var(--bg-dl);
  padding: 60px 30px;
}