.p-home {

  .main-slider {

    .a-carousel-indicators {

      @include media-breakpoint-up(lg) {
        left: auto;
        flex-direction: column;
        margin-bottom: 50px;

        li {
          margin-bottom: 5px;
        }
      }
    }

    img {
      height: 650px;
      object-fit: cover;
      width: 100%;
      object-position: top;
    }
  }

  .featured {
    padding: 30px 0;
    border-bottom: 1px solid var(--gray-70);

    p {
      color: var(--gray-70);
      font-size: 14px;
      text-align: center;
      margin-bottom: 10px;

      @include media-breakpoint-up(md) {
        text-align: right;
      }
    }
  }

  .one-on-one {
    position: relative;
    padding: 60px 0 100px 0;
    background: var(--gray-100)
    url("../images/home-page/onenone.jpg")
    no-repeat top center;
    background-size: cover;
    color: var(--bs-white);

    .btn {
      color: var(--bs-white);
    }

    @include media-breakpoint-up(md) {
      padding: 120px 0;
    }
  }

  .career-classes {
    background-color: var(--gray-95);
    padding-bottom: 60px;

    @include media-breakpoint-up(md) {
      padding-bottom: 0;
    }
  }

  .feedback {
    padding: 60px 0;

    .a-subtitle {
      color: var(--gray-60);
      margin-bottom: 5px;
    }
  }
}