.p-register {
  background: var(--gray-100)
              url("../images/register/background-register.jpg")
              no-repeat top center;
  background-size: cover;

  .a-title {
    margin-top: 50px;
    color: var(--bs-white);
  }

  &-form {
    margin: 50px auto 100px auto;
    padding: 20px;
    background-color: var(--bg-dl);

    @include media-breakpoint-up(md) {
      padding: 30px;
    }

    h4 {
      color: var(--gray-20);
    }
  }
}