<template>
  <header class="o-header shadow-sm sticky-top">
    <nav class="navbar navbar-expand-lg o-navbar">
      <div class="container-fluid">
        <router-link class="navbar-brand" :to="{name: 'Home'}">
          <img :class="{'h-inverted' : $store.state.dark_mode}" src="../../assets/images/icons/ivy-logo.svg" alt="Logo">
        </router-link>
        <button class="navbar-toggler a-navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">

          <NavigationLinks/>

          <div class="ml-auto d-flex align-items-center">
            <div v-if="!$store.state.user.logged">
              <router-link :to="{name: 'Signin'}" class="btn btn-sm btn-outline-secondary">
                Sign in
              </router-link>
            </div> <!-- /pre-login -->

            <div v-else class="d-lg-flex">

              <PostLogin/>

            </div> <!-- /post-login -->
          </div>
        </div>

        <button class="btn btn-link a-btn-dl btn-sm" @click="changeTheme">
          <i :class="$store.state.dark_mode ? 'fas fa-sun' : 'fas fa-moon'"/>
        </button>
      </div>
    </nav>
  </header>
</template>

<script>
import NavigationLinks from "@/components/header/NavigationLinks"
import PostLogin from "@/components/header/PostLogin";

export default {
  components: {
    NavigationLinks,
    PostLogin
  },
  methods: {
    changeTheme() {
      this.$store.commit('change_theme')
    },
    logout() {
      this.$store.commit('user_logout')
      this.$router.push({name: 'Signin'})
    }
  }
}
</script>