<template>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a id="navbarDropdownMenuLink"
         href="#" role="button"
         data-toggle="dropdown"
         aria-expanded="false"
         class="nav-link a-nav-link a-dropdown-arrow"
      >
        Jobs
      </a>
      <ul class="dropdown-menu o-dropdown-menu" aria-labelledby="jobsDropdown">
        <li><router-link class="dropdown-item" :to="{name: 'Jobs'}"> Companies Hiring </router-link></li>
        <li><router-link class="dropdown-item" :to="{name: 'Jobs'}"> Top Consulting Firms </router-link></li>
        <li><router-link class="dropdown-item" :to="{name: 'Jobs'}"> Top Investment Banks </router-link></li>
        <li><router-link class="dropdown-item" :to="{name: 'Jobs'}"> Women Lead Business </router-link></li>
        <li><router-link class="dropdown-item" :to="{name: 'Jobs'}"> Tech/Digital Companies </router-link></li>
        <li><router-link class="dropdown-item" :to="{name: 'New'}"> Add New Job </router-link></li>
      </ul>
    </li>
    <router-link class="nav-link a-nav-link" :to="{name: 'Home'}"> Home </router-link>
    <router-link v-if="!$store.state.user.logged" class="nav-link a-nav-link" :to="{name: 'Register'}"> Register </router-link>
    <router-link class="nav-link a-nav-link" :to="{name: 'Employers'}"> Employers </router-link>
    <router-link class="nav-link a-nav-link" :to="{name: 'Classes'}"> Classes </router-link>
  </ul>
</template>