<template>
  <div class="m-notification-bar">
    <small>
      Want to see more jobs? Premium access, on us!
      <router-link :to="{name: 'Register'}" class="text-decoration-underline">Start Free Trial!</router-link>
    </small>
  </div>
</template>