<template>
  <button class="btn btn-sm btn-secondary"> Go All Access</button>

  <button type="button"
          data-toggle="dropdown"
          aria-expanded="false"
          class="btn btn-sm btn-link a-btn-link-primary d-none d-lg-inline-block"
  >
    <i class="fas fa-search"></i>
  </button>

  <div class="dropdown-menu dropdown-menu-right o-dropdown-search">
    <p class="mb-3">Search Jobs</p>
    <form class="row">
      <div class="col-12">
        <Autocomplete
            :options="['Frontend developer', 'Backend developer', 'Full Stack developer', 'Web Designer']"
            label="Job Title"
        />
      </div>
      <div class="col-12">
        <Autocomplete
            :options="this.$store.state.countries"
            label="Type to search..."
        />
      </div>
      <div class="col-12 mt-4">
        <button type="submit" class="btn btn-secondary w-100">Search</button>
      </div>
    </form>
  </div>

  <button type="button"
          data-toggle="dropdown"
          aria-expanded="false"
          class="btn btn-sm btn-link a-btn-link-primary d-none d-lg-inline-block"
  >
    <i class="far fa-user"></i>
  </button>

  <div class="dropdown-menu dropdown-menu-right o-dropdown-profile">
    <img class="a-user-img shadow" src="@/assets/images/navigation/user.jpg" alt="user"/>
    <ul>
      <li>
          <span class="dropdown-item o-dropdown-profile-item">
            {{ $store.state.user.email }}
          </span>
      </li>
      <li><a class="dropdown-item" href="#">My Profile </a></li>
      <li><a class="dropdown-item" href="#">My Account </a></li>
      <li>
        <button @click="logout" class="dropdown-item" type="button">Log Out</button>
      </li>
    </ul>
  </div>
</template>

<script>
import Autocomplete from "@/components/form-elements/Autocomplete";

export default {
  components: {
    Autocomplete
  },
  methods: {
    logout() {
      this.$store.commit('user_logout')
    },
  }
}
</script>