.o-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: var(--bg-dl);
  border: 5px solid var(--gray-95);
  padding: 0;
  transition: all .3s ease;

  @include media-breakpoint-down(md) {
    border: 10px solid var(--gray-95);
  }

  img {
    width: 100%;
    filter: grayscale(1);

    @include media-breakpoint-down(md) {
      order: -1;
      max-height: 200px;
      object-fit: cover;
    }
    @include media-breakpoint-down(sm) {
      max-height: 135px;
    }
  }

  &-header {
    padding: 15px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    min-height: auto;
    color: var(--gray-10);
    background-color: var(--bg-dl);

    span {
      color: var(--gray-60);
    }

    @include media-breakpoint-up(md) {
      padding: 30px;
      min-height: 350px;
    }
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      display: flex;
      align-items: center;
      max-width: 50%;
      color: var(--gray-50);
      flex: 1 0 auto;
      font-size: 11px;
      font-weight: 700;

      i {
        font-size: 28px;
        color: var(--bs-primary);
        margin-right: 10px;
      }

      @include media-breakpoint-down(sm) {
        max-width: 60%;
      }
    }

    @include media-breakpoint-down(md) {
      margin-top: 10px;
      flex-direction: row-reverse;
    }
  }

  &-footer {
    padding: 15px;
    color: var(--gray-10);
    background-color: var(--bg-dl);

    @include media-breakpoint-down(md) {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      padding: 0;

      .m-social-button {
        margin: 0;
      }
    }
    @include media-breakpoint-up(md) {
      padding: 30px;
    }
  }

  &-description {
    color: var(--gray-50);
    font-size: 13px;
    margin-bottom: 20px;
  }

  &:hover {

    img {
      filter: grayscale(0);
    }
  }
}