.o-footer {
  background-color: var(--footer-dl);
  padding: 30px 0;

  &-links {
    border-bottom: 1px solid var(--social-rd-secondary);
    padding: 30px 0;
    h6 {
      font-weight: 600;
    }
    .a-link {
      color: var(--gray-10);
      font-weight: 300;
    }
  }

  &-social {
    text-align: center;
    padding-top: 30px;
    h3 {
      font-size: 18px;
    }
    .list-group {
      flex-direction: row;
      justify-content: center;

      &-item {
        background-color: transparent;
        padding: 0;
        margin-bottom: 10px;
      }
    }
    .copyright {
      font-size: 13px;
    }
    .a-link {
      color: var(--gray-10);
    }
  }
}