.o-header {
  padding: 5px 20px;
  z-index: $zindex-fixed;
  background-color: var(--bg-dl);
  .navbar {

    &-brand {

      img {
        width: 100%;
        max-width: 110px;
      }
    }

    &-nav {
      font-size: 16px;
      .router-link-active {
        font-weight: 600;
      }
    }
  }
}

