.o-list-group {

  &-bullets {

    .list-group-item {
      border-bottom: 0;
      line-height: 18px;
      background-color: var(--gray-100);

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--list-bullet);
        display: block;
      }
    }
  }
}