.o-modal {

  &-header {
    align-items: center;
    padding: 5px 10px;
    background-color: var(--modal-dl);
  }
  &-title {
    color: var(--gray-10);
  }
  &-body {
    background-color: var(--modal-dl);
    text-align: left;
  }
  &-footer {
    padding: 5px 10px;
    background-color: var(--modal-dl);
  }
}