.o-navbar {

  .a-btn {

    &-dl,
    &-link-primary {
      color: var(--gray-10);
    }
  }

  @include media-breakpoint-down(lg) {

    .a-btn-dl {
      position: absolute;
      right: -20px;
      top: 9px;
      font-size: 20px;
      padding: 3px 12px;
    }
    .o-dropdown-menu {
      position: relative;
      padding: 0;
      background-color: transparent;

      .dropdown-item {
        color: var(--gray-40);
      }

      &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 2px;
        height: calc(100% - 20px);
        background: var(--bs-secondary);
      }
    }
  }
}