.o-signin-form {
  margin: 0 0 60px 0;

  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &-remember {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0 10px 0 0;
      font-size: 12px;
      color: var(--gray-45);
    }

    .m-input-group {
      margin-bottom: 0;
    }
  }
}