.o-sidebar-frame {
  position: sticky;
  top: 66px;
  width: 100%;
  box-shadow: -4px 0px 10px 0px var(--gray-90);
  background-color: var(--gray-100);
  z-index: 1;

  @include media-breakpoint-up(md) {
    max-width: 380px;
    flex: 1 0 500px;
    height: calc(100vh - 66px);
    overflow-y: auto;
  }
  @include media-breakpoint-up(xl) {
    max-width: 480px;
  }

  .m-accordion-header {

    .link-secondary {
      font-size: 22px;
      line-height: 22px;
    }

    p {
      font-size: 12px;
      color: var(--gray-50);
    }
  }
}