.o-suggested-mentors {
  display: flex;
  align-items: center;
  margin: 15px 0;

  .a-user-img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }

  h5 {
    color: var(--gray-20);
    font-weight: 600;
    margin-bottom: 0;
  }

  p {
    color: var(--gray-50);
  }
}