<template>
  <footer class="o-footer">
    <div class="o-footer-links">
      <div class="container">
        <div class="row justify-content-lg-evenly">

          <div class="col-md-6 col-lg-auto">
            <ul class="list-unstyled">
              <li><h6> About us </h6></li>
              <li><a href="" class="a-link"> About Ivy Exec </a></li>
              <li><a href="" class="a-link"> Team </a></li>
              <li><a href="" class="a-link"> Careers </a></li>
              <li><a href="" class="a-link"> Partners </a></li>
              <li><a href="" class="a-link"> Success Stories </a></li>
              <li><a href="" class="a-link"> In the News </a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-auto">
            <ul class="list-unstyled">
              <li><h6> Busines Services </h6></li>
              <li><a href="" class="a-link link-primary"> Higher End Marketing </a></li>
              <li><a href="" class="a-link link-primary"> Market Insights </a></li>
            </ul>

            <ul class="list-unstyled">
              <li><h6> Job Seeker Services </h6></li>
              <li><a href="" class="a-link"> Resume Services </a></li>
              <li><a href="" class="a-link"> Coaching </a></li>
              <li><a href="" class="a-link"> Mentorship </a></li>
              <li><a href="" class="a-link"> Job Boards </a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-auto">
            <ul class="list-unstyled">
              <li><h6> Jobs </h6></li>
              <li><a href="" class="a-link"> Executive Jobs </a></li>
              <li><a href="" class="a-link"> Vice President Jobs </a></li>
              <li><a href="" class="a-link"> Director Jobs </a></li>
              <li><a href="" class="a-link"> Latest Jobs </a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-auto">
            <ul class="list-unstyled">
              <li><h6> Contact Us </h6></li>
              <li><a href="" class="a-link"> Advertise with Us </a></li>
              <li><a href="" class="a-link"> Feedback </a></li>
              <li><a href="" class="a-link"> FAQs </a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-auto">
            <ul class="list-unstyled">
              <li><h6> Legal </h6></li>
              <li><a href="" class="a-link"> Privacy Policy </a></li>
              <li><a href="" class="a-link"> Terms of Use </a></li>
              <li><a href="" class="a-link"> Cookie Policy </a></li>
            </ul>
          </div>
        </div>
      </div> <!-- /o-footer-links -->
    </div>

    <div class="o-footer-social container">
      <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <h3> Subscribe to our newsletter for news, job advice, new articles, and job resources. </h3>

        <Subscribe
          placeholder="E-Mail Address"
          button="Subscribe"
          class="my-3"
        />
      </div>

      <div class="row">
        <ul class="list-group">
          <li class="list-group-item border-0">
            <a href="" class="a-link"><i class="a-icon fab fa-facebook-f"></i></a>
          </li>
          <li class="list-group-item border-0">
            <a href="" class="a-link"><i class="a-icon fab fa-linkedin-in"></i></a>
          </li>
          <li class="list-group-item border-0">
            <a href="" class="a-link"><i class="a-icon fab fa-twitter"></i></a>
          </li>
        </ul>
        <p class="copyright"> © 2020 IvyExec Inc. All Rights Reserved. </p>
      </div>
    </div> <!-- /o-footer-social -->

  </footer>
</template>

<script>
import Subscribe from "@/components/form-elements/Subscribe";
export default {
  components: {
    Subscribe
  }
}
</script>