<template>
  <div class="dropdown">
    <button class="btn btn-link a-btn-dropdown" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right o-dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><button class="dropdown-item" type="button">Advance</button></li>
      <li><button class="dropdown-item" type="button">Career Transition</button></li>
      <li><button class="dropdown-item" type="button">Communicate</button></li>
      <li><button class="dropdown-item" type="button">Executive Education</button></li>
      <li><button class="dropdown-item" type="button">Interview</button></li>
      <li><button class="dropdown-item" type="button">Job Search</button></li>
      <li><button class="dropdown-item" type="button">Leadership</button></li>
      <li><button class="dropdown-item" type="button">Manage</button></li>
      <li><button class="dropdown-item" type="button">Mentor</button></li>
      <li><button class="dropdown-item" type="button">Network</button></li>
      <li><button class="dropdown-item" type="button">Personal Brand</button></li>
      <li><button class="dropdown-item" type="button">Resume</button></li>
    </ul>
  </div>
</template>