<template>
  <div class="m-input-group">
    <input
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      :placeholder="label"
      class="form-control" :list="label"
      required
    >
    <datalist :id="label">
      <option
        v-for="(option,i) in options"
        :key="i"
        :value="option"
      />
    </datalist>

    <div class="invalid-feedback"> This field is mandatory </div>
  </div>
</template>

<script>
export default {
  props: {
    modelValue: {
      type: String,
    },
    label: {
      type: String,
      default: "Type to search...",
    },
    options: {
      type: Array,
      required: true
    }
  }
}
</script>