<template>
  <div class="m-input-group form-check">
    <input
      @change="$emit('update:modelValue', $event.target.checked)"
      :checked="modelValue"
      :id="label"
      :required="required"
      type="checkbox"
      class="form-check-input"
    >
    <slot></slot>
    <label :for="label" class="form-check-label">{{ label }}</label>
  </div>
</template>

<script>
export default {
  props: {
    modelValue: {type: Boolean},
    required: {type: Boolean, default: true},
    label: {type: String,}
  }
}
</script>