<template>
  <div class="m-input-group form-file">
    <input
      @change="fileUpload"
      :disabled="disabled"
      :required="required"
      type="file"
      class="form-file-input"
    >
    <label class="form-file-label">
      <span class="form-file-text"> {{label}} </span>
        <i class="fas fa-upload m-input-group-icon"></i>
    </label>

    <div class="invalid-feedback"> This file is mandatory </div>
  </div>
</template>

<script>
export default {
  methods: {
    fileUpload(e) {
      let file = e.target.files[0]
      this.$emit('update:modelValue', file)
      document.querySelector('.form-file-text').innerHTML = file.name
    }
  },
  props: {
    modelValue: {},
    required: {
      type: Boolean,
      default: true
    },
    label: {
      type: String,
      default: 'Choose file...'
    },
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>