<template>
  <div class="m-input-group input-group">
    <input
       @input="$emit('update:modelValue', $event.target.value)"
       :value="modelValue"
       :placeholder="label"
       :disabled="disabled"
       :required="required"
       :type="showPassword ? 'text' : type"
       class="form-control"
    />
    <!-- Only for type password -->
    <span v-if="type === 'password'" @click="showPassword = !showPassword" class="m-input-group-icon">
      <i :class="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
    </span>

    <!-- For inputs with the icon -->
    <span v-else-if="icon" class="m-input-group-icon">
      <i :class="icon"></i>
    </span>

    <!-- Validation messages -->
    <div class="invalid-feedback"> This field is mandatory </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showPassword: false
    }
  },
  props: {
    modelValue: {
      type: String,
    },
    type: {
      type: String,
      default: 'text'
    },
    label: {
      type: String,
      default: "",
    },
    icon: {
      type: String,
      default: "",
    },
    disabled: {
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      default: true
    }
  },
}
</script>