<template>
  <div class="m-input-group">
    <select
        @input="$emit('update:modelValue', $event.target.value)"
        class="form-select"
        :required="required">
      <option selected disabled value=""> {{label}} </option>
      <option
          v-for="(option,i) in options"
          :key="i" :value="option">
        {{option}}
      </option>
    </select>

    <div class="invalid-feedback">This field is mandatory</div>
  </div>
</template>

<script>
export default {
  props: {
    modelValue: {
      type: String,
    },
    label: {
      type: String,
      default: "",
    },
    required: {
      type: Boolean,
      default: true
    },
    options: {
      type: Array
    }
  }
}
</script>