<template>
  <form class="input-group needs-validation">
    <input
      :placeholder="placeholder"
      type="email"
      class="form-control"
      required>
    <button
      class="btn btn-secondary"
      type="submit"
    >
      {{ button }}
    </button>
  </form>
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: "E-mail Address"
    },
    button: {
      type: String,
      default: "Subscribe"
    }
  }
}
</script>