<template>
  <div class="m-input-group">
    <textarea
      @input="$emit('update:modelValue', $event.target.value)"
      :value="modelValue"
      :placeholder="label"
      :required="required"
      class="form-control" >
    </textarea>

    <div class="invalid-feedback">This field is mandatory</div>
  </div>
</template>

<script>
export default {
  props: {
    modelValue: {
      type: String
    },
    label: {
      type: String,
      default: ""
    },
    required: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style scoped>
  .form-control {
    height: 100px;
    min-height: 100px;
    max-height: 200px;
  }
</style>