<template>
  <div class="p-home">
    <div class="main-slider">
      <Carousel
        :indicators="true"
        :data="main_slider"
      />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 my-5">

        </div>
      </div>
    </div>
    <div class="container">
      <div class="row featured">
        <div class="col-md-2">
          <p>Featured in:</p>
        </div>
        <div class="col-md-10">
          <img :src="require(`@/assets/images/home-page/${ $store.state.dark_mode ? 'featured-inverse.png' : 'featured.jpg'}`)"
               alt="featured" class="img-fluid">
        </div>
      </div>

      <div class="row py-5 align-items-center">
        <div class="col-md-6">
          <Carousel
            :data="jobs_slider"
          />
        </div>
        <div class="col-md-6 mt-5 mt-md-0">
          <h2>Curated Jobs, Company Profiles & Salary Data</h2>
          <p>Ivy Exec carefully screens thousands of job openings to select opportunities uniquely matched to your
            career aspirations, as well as provide the intelligence you need to learn if a company is right for you.
          </p>
          <button class="btn btn-outline-secondary a-btn-outline-secondary mt-3">
            Get it for free
          </button>
        </div>
      </div>
    </div>

    <div class="one-on-one">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-1">
            <h2>1-on-1 Mentors & Advisors</h2>
            <p>From calibrating your resume to tapping in to our member-community of over 20 executive mentors and
              career
              advisors, Ivy Exec has the people and expertise to advise you on your next best move.
            </p>
            <button class="btn btn-outline-secondary mt-3">Find a mentor</button>
          </div>
        </div>
      </div>
    </div>

    <div class="career-classes">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 mt-n5">
            <Carousel
              :data="classes_slider"
            />
          </div>
          <div class="col-md-6 mt-5 mt-md-0">
            <h2>Career Content & Online Classes</h2>
            <p>Our ever-growing selection of live and on-demand online classes provide timely insights and knowledge
              essential to your professional development. With our unique collection of career-related articles, insights
              and trends, Ivy Exec makes sure you’re always up-to-date and informed.
            </p>
            <button class="btn btn-outline-secondary a-btn-outline-secondary mt-3">
              Watch Classes
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row feedback">
        <div class="col-12 text-center mb-5">
          <h3>See what people are saying</h3>
        </div>
        <div class="col-md-6">
          <h5>Robert Serec</h5>
          <p class="a-subtitle">
            Business Consultant, MBA ’07, IMD Business School
          </p>
          <p>
            Ivy Exec is not just one of those high level networks. It is the ELITE service that gave me all the right
            tools I needed to understand, learn, and craft a bullet proof strategy for transitioning into a new career
            and the job of my dreams.
          </p>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <h5>Sabrina Kippur</h5>
          <p class="a-subtitle">
            Senior Consultant Graham-Pelton,MS ’11, New York University
          </p>
          <p>
            Ivy Exec empowered me to land my dream role and positioned me for long-term success. And I didn't just get a
            job: I took a major step in a lifelong career.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Carousel from "@/components/sliders/carousel";

export default {
  name: 'Home',
  components: {
    Carousel
  },
  data() {
    return {
      main_slider: {
        name: 'mainSlider',
        source: 'home-page/mainSlider',
        slides: [
          {
            image: "home-slider1.jpg",
            caption: "Empowered Success",
            description: "Career guidance for the world's most successful professionals",
            indicator_text: "Curated Job Listings & Company Data",
            button: {
              text: "Join Now",
              url: "/register"
            }
          },
          {
            image: "home-slider2.jpg",
            caption: "Curated Job Listings & Company Data",
            description: "We do the heavy-lifting for you – identifying job openings uniquely matched to your skills and goals",
            indicator_text: "Access to Mentors & Career Advisors",
            button: {
              text: "Join Now",
              url: "/register"
            }
          },
          {
            image: "home-slider3.jpg",
            caption: "Access to Mentors & Career Advisors",
            description: "Get connected with the right people to help guide your career goals",
            indicator_text: "Exclusive Career Content & Online Classes",
          },
        ]
      },

      jobs_slider: {
        name: 'jobsSlider',
        source: 'home-page/freeSlider',
        slides: [
          { image: "getitforfreeSlider1.png" },
          { image: "getitforfreeSlider1.png" },
          { image: "getitforfreeSlider1.png" }
        ]
      },

      classes_slider: {
        name: 'classesSlider',
        source: 'home-page/classesSlider',
        slides: [
          { image: "classesSlider1.png" },
          { image: "classesSlider1.png" },
          { image: "classesSlider1.png" }
        ]
      },
    }
  },
}
</script>
