<template>
  <div class="app" :class="$store.state.dark_mode ? 'dark-mode':'light-mode'">
    <Toast />
    <NotificationBar/>
    <AppHeader />
    <router-view />
    <AppFooter />
  </div>
</template>

<script>
import AppHeader from "@/components/header/AppHeader";
import AppFooter from "@/components/footer/AppFooter";
import NotificationBar from "@/components/header/NotificationBar"
import Toast from "@/components/toasts/Toast";

export default {
  components: {
    NotificationBar,
    AppHeader,
    AppFooter,
    Toast,
  },
}
</script>

<style lang="scss">
// temporary code here
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--gray-10);
  background: var(--bg-dl);
}
</style>
