.o-job-actions {
  display: flex;
  flex-wrap: wrap;

  button {
    margin-top: 10px;
  }

  @include media-breakpoint-up(xl) {

    .save {
      color: var(--bs-white);
      border: 1px solid var(--gray-60);
      background-color: var(--gray-60);

      &:hover,
      &:active {
        color: var(--bs-white);
        background-color: var(--gray-50);
        border: 1px solid var(--gray-50);
      }
    }

    .options {
      border: 1px solid transparent;
      padding: 0.25rem;

      &:hover,
      &:active {
        border: 1px solid transparent;
        color: var(--gray-10);
        background-color: var(--gray-90);
      }
    }
  }
}