.o-job-company-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--gray-100)
  url("../images/register/background-register.jpg")
  no-repeat top center;
  background-size: cover;
  padding: 30px;
  min-height: 170px;

  .name-rating {
    display: flex;
    align-items: center;

    h3 {
      color: var(--bs-white);
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
      color: var(--bs-white);
      margin-right: 20px;
      text-decoration: none;
    }
  }

  .o-rating {
    pointer-events: none;
  }
}