.o-job-single {
  padding: 30px 30px 0 30px;
  transition: background-color .3s ease;

  &:hover {
    background-color: var(--gray-90);
    cursor: pointer;
  }
  &-content {
    border-bottom: 1px solid var(--gray-95);
  }
  &-c-name {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: var(--bs-secondary);
    font-weight: bold;
    text-decoration: underline;
    .rating {
      i {
        color: var(--gray-75);
        &.active {
          color: var(--bs-secondary);
        }
      }

    }
  }
  &-c-location {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-footer {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    p {
      color: var(--gray-50);
      font-size: 14px;
    }
  }
  &.active {
    background-color: var(--gray-95);
  }
}