<template>
  <div class="p-employers text-center">

    <section class="employers-hero container-fluid">
      <div class="row employers-hero-items">
        <div class="col-12">
          <h1 class="a-title">Ivy Exec is your digital marketing partner committed to helping you meet your admissions goals by connecting you with our global business community.</h1>
        </div>

        <div class="col-md-4">
          <div class="employers-hero-item">
            <img src="../../assets/images/employers/awarness.png" alt="Awarness">
            <h2>Awareness</h2>
            <span>SEO &<br> Thought Leadership</span>
          </div>
        </div>

        <div class="col-md-4">
          <div class="employers-hero-item">
            <img src="../../assets/images/employers/engagement.png" alt="Engagement">
            <h2>Engagement</h2>
            <span>Content Marketing &<br> Interactive Webinars</span>
          </div>
        </div>

        <div class="col-md-4">
          <div class="employers-hero-item">
            <img src="../../assets/images/employers/inquiry.png" alt="Inquiry">
            <h2>Inquiry</h2>
            <span class="">Lead Generation &<br> Email Marketing</span>
          </div>
        </div>
      </div> <!-- /hero items -->
    </section> <!-- /hero section -->


    <section class="who-we-serve container-fluid">
      <div class="col-12 mb-5">
        <h2>Who We Serve</h2>
        <h4>84% of top 25 EMBA programs partner with Ivy Exec</h4>
      </div>
      <div class="row">
        <div class="col-md-6 menagement-education">
          <div class="menagement-education-img"></div>
          <ul class="list-group">
            <li><a href="">Full-Time MBA Executive Education</a></li>
            <li><a href="">Part-Time MBA Specialized Masters Online Program</a></li>
            <li><a href="">Executive MBA Corporate Education</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="../../assets/images/employers/logos.png" alt="Logos">
        </div>
      </div>
    </section> <!-- /who we serve section -->


    <section class="enrollment-marketing container-fluid">
      <div class="col-12">
        <h2>Enrollment Marketing</h2>
        <p>Increase awareness and position your brand as a leader in executive education with targeted SEO, interactive webinars, uniquely designed email campaigns, and more.</p>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-sm-12 enrollment-funnel">
            <img class="img-fluid" src="../../assets/images/employers/awarenes.png">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 enrollment-funnel">
            <img class="img-fluid" src="../../assets/images/employers/consideration.png">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 enrollment-funnel">
            <img class="img-fluid" src="../../assets/images/employers/inquire.png">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 enrollment-funnel">
            <img class="img-fluid" src="../../assets/images/employers/enroll.png">
          </div>
        </div>
      </div>
    </section> <!-- /enrollment marketing section-->


    <section class="market-research container-fluid">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="../../assets/images/employers/career-services.jpg">
        </div>
        <div class="col-md-6 pt-5">
          <h2>Market Research</h2>
          <p>Ivy Exec can help you answer your most challenging questions. Our market research team provides actionable insights from benchmarking and market perception studies to inform curriculum development, market demand, and market expansion.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pt-5">
          <h2>Career Services</h2>
          <p>For career services departments Ivy Exec offers tools to complement your existing career resources. Students and alumni can benefit from 1-on-1 resume support, mentorship, professional development, company and salary insights, and curated job opportunities.</p>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="../../assets/images/employers/market-research-slide.jpg">
        </div>
      </div>
    </section> <!-- /market-research section -->

    <section class="contact-us container-fluid">
      <div class="row">
        <div class="col-12">
          <h2 class="a-title">Tell Us About Your Projects, Needs and Goals.</h2>
          <p> We will follow up with more info on how can leverage the Ivy Exec community.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 mt-5">
          <ContactUsForm />
        </div>
      </div>
    </section> <!-- /sign up section-->
  </div> <!-- /p-employers -->
</template>

<script>
import ContactUsForm from "@/components/forms/ContactUsForm";

export default {
  components: {
    ContactUsForm
  },
}
</script>