<template>
  <div class="m-accordion-header">
    <div>
      <a data-toggle="collapse"
         href="#accordion"
         role="button"
         aria-expanded="true"
         aria-controls="accordion"
         class="link-secondary"
      >
        {{button}}
      </a>
      <p>Showing 1 - {{$store.state.jobs.length}} of {{$store.state.jobs.length}} results</p>
    </div>
    <slot name="added_header"></slot>
  </div>
  <div class="collapse" id="accordion">
    <slot name="content"></slot>
  </div>
</template>

<script>
export default {
  props: {
    button: {
      type: String,
      default: "Toggle"
    }
  }
}
</script>