.o-toast {
  border: none;
  max-width: 100%;

  &-login {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999999;
    width: 100%;
    max-width: 360px;

    &-header {
      background-color: var(--bg-toast);
      border-bottom: 0;
      padding: 0.25rem 0 .25rem 0.75rem;

      .fa-grin-hearts {
        color: var(--bs-green);
        font-size: 24px;
        margin-right: 5px;
      }
      p {
        color: var(--gray-10);
        font-size: 18px;
        margin-top: 3px;
        margin-right: auto;
      }
      .time {
        color: var(--gray-10);
        font-size: 12px;
        margin-top: 3px;
        margin-right: 0;
      }
      .fa-times {
        color: var(--gray-20);
        font-size: 20px;
      }
    }
    &-body {
      p {
        font-size: 16px;
      }

      span {
        color: var(--link-dl);
        font-weight: 600;
      }
    }
  }
}

.dark-mode {

  .o-toast {
    background: var(--bg-toast);
    color: var(--gray-10);
    box-shadow: 0 0.5rem 1rem rgba($white, 0.15);
  }
}