<template>
  <form @submit.prevent="formSubmited" novalidate class="needs-validation">
    <IvySelect
      v-model="service"
      label="Select a Service"
      :options="[
        'Recruitment Solutions',
        'Industry Experts',
        'Marketing Solutions',
        'Advertising Solutions',
        'Not Sure Yet']"
    />
    <IvyInput
      v-model="first_name"
      label="First Name"
    />
    <IvyInput
      v-model="last_name"
      label="Last Name"
    />
    <IvyInput
      v-model="email"
      label="Email address"
      type="email"
    />
    <IvyInput
      v-model="phone_number"
      label="Phone number"
    />
    <IvyInput
      v-model="company_name"
      label="Company Name"
    />
    <IvyTextarea
      v-model="message"
      label="I'm interested in"
    />
    <button  type="submit" class="btn btn-lg btn-secondary btn-block mt-3">
      Send
    </button>
  </form>
</template>

<script>
import forms_main from "@/assets/mixins/forms_main";

export default {
  mixins: [forms_main],
  data() {
    return {
      service: "",
      first_name: "",
      last_name: "",
      email: "",
      phone_number: "",
      company_name: "",
      message: ""
    }
  },
  methods: {
    formSubmited() {
      console.log('sent:', this.$data)
    }
  },
}
</script>