<template>

  <div class="p-4">
    <form @submit.prevent="formSubmited" novalidate class="needs-validation">
      <IvySelect
          v-model="jobTitle"
          :required="false"
          label="Job Title"
          :options="[
            'Front end developer',
            'Back end developer',
            'QA',
            'Advertising Solutions',
            'Not Sure Yet'
          ]"
      />
      <IvySelect
          v-model="location"
          :required="false"
          label="Location"
          :options="[
            'Belgrade',
            'New York',
            'San Francisco',
            'New Now',
            'Not Sure Yet'
          ]"
      />
      <IvySelect
          v-model="seniority"
          :required="false"
          label="Seniority"
          :options="[
            'Junior',
            'Medior',
            'Senior',
            'Not Sure Yet'
          ]"
      />
      <IvySelect
          v-model="industry"
          :required="false"
          label="Industry"
          :options="[
            'Front end developer',
            'Back end developer',
            'QA',
            'Advertising Solutions',
            'Not Sure Yet'
          ]"
      />
      <IvyInput
          v-model="keywords"
          :required="false"
          label="Keywords"
      />
      <button  type="submit" class="btn btn-lg btn-primary btn-block mt-3">
        Update Search result
      </button>
    </form>
  </div>

</template>

<script>
import forms_main from "@/assets/mixins/forms_main";

export default {
  mixins: [forms_main],
  data() {
    return {
      jobTitle: "",
      location: "",
      seniority: "",
      industry: "",
      keywords: ""
    }
  },
  methods: {
    formSubmited() {
      console.log('sent:', this.$data)
    }
  },
}
</script>