<template>
  <form @submit.prevent="formSubmit" novalidate class="needs-validation">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h4 class="">Please introduce yourself!</h4>
      </div>

      <div class="col-md-6">
        <IvyInput
          v-model="first_name"
          label="First Name"
        />
      </div>

      <div class="col-md-6">
        <IvyInput
          v-model="last_name"
          label="Last Name"
        />
      </div>

      <div class="col-12">
        <IvyInput
          v-model="email"
          label="Email"
          type="email"
        />
      </div>

      <div class="col-12">
        <IvyInput
          v-model="password"
          label="Create a password"
          type="password"
        />
      </div>

      <div class="col-12">
        <IvyFile
          v-model="resume"
          label="Resume Upload"
        />
      </div>

      <div class="col-md-6">
        <IvyInput
          v-if="!not_in_usa"
          v-model="zip_code"
          label="Zip Code"
        />
        <Autocomplete
          v-else
          v-model="country"
          :options="$store.state.countries"
          label="Select a country"
        />
      </div>

      <div class="col-md-6 mt-md-2">
        <IvyCheckbox
          v-model="not_in_usa"
          :required="false"
          label="not in USA"
        />
      </div>

      <div class="col-12">
        <IvyCheckbox
          v-model="accept_terms">
          <p> By becoming an Ivy Exec user, you agree to our
            <a href="" class="link-primary a-link-dl">Terms of Use</a> and
            <a href="" class="link-primary a-link-dl">Privacy Policy</a>, and
            <a href="" class="link-primary a-link-dl">Cookie Policy</a>.
          </p>
        </IvyCheckbox> <!-- /terms of condition -->
      </div>

      <div class="col-12 text-center">
        <button type="submit" class="btn btn-secondary"> Get started! </button>
      </div>

    </div> <!-- /row -->
  </form>
</template>

<script>
import forms_main from "@/assets/mixins/forms_main";

export default {
  mixins: [forms_main],
  data() {
    return {
      first_name: "",
      last_name: "",
      email: "",
      password: "",
      resume: "",
      zip_code: "",
      country: "",
      not_in_usa: false,
      accept_terms: false,
    }
  },
  methods: {
    formSubmit() {
      console.log(this.$data)
    },
  },
}
</script>