<template>
  <div class="o-signin-form">
    <form @submit.prevent="onLogin" novalidate class="needs-validation">
      <IvyInput
          v-model="email"
          label="You Email"
          type="text"
      />
      <IvyInput
          v-model="password"
          label="Password"
          type="password"
      />
      <div class="o-signin-form-actions">
        <div class="o-signin-form-remember">
          <label class="d-flex">
            <IvyCheckbox :required="false"/>
            Remember Login
          </label>
        </div>
        <button
            class="btn btn-primary"
            type="submit"
        >
          Login
        </button>
      </div>
    </form>
    <router-link
        :to="{name: 'Register'}"
        class="a-link text-left small a-link-dl"
    >
      Forgot password
    </router-link>
  </div>
</template>

<script>
import forms_main from "@/assets/mixins/forms_main";
import {emitter} from "@/mitt/mitt";

export default {
  mixins: [forms_main],
  data() {
    return {
      email: "",
      password: ""
    }
  },
  methods: {
    onLogin() {
      if(!this.email.trim() || !this.password.trim()) {
        return
      }
      this.$store.commit('user_login', {
        email: this.email
      })
      this.$router.push({name: 'Classes'})
      emitter.emit('show-login-toast' )
    }
  }
}
</script>